{% extends 'portfolio/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block portfolio %}


<!-- home section starts  -->
<section class="home" id="home" >

    <div class="content">
        <h3>Md Abdullah Al Arif</h3>
        <p>DevOps Engineer Intern | SAP BASIS Consultant Intern</p>
        <a href="https://docs.google.com/document/d/11GdbzV8fL9NRfPwpKTdU9FGUaGzibN4GlB2_e589tO0/edit?usp=sharing" class="btn" target="_blank">Download CV</a>
    </div>

    <div class="share">
        <a href="https://github.com/Arifcse21" class="fab fa-github" target="_blank"></a>
        <a href="https:facebook.com/Arifcse21" class="fab fa-facebook-f" target="_blank"></a>
        <a href="m.me/Arifcse21" class="fab fa-facebook-messenger" target="_blank"></a>
        <a href="https://twitter.com/Arifcse21" class="fab fa-twitter" target="_blank"></a>
        <a href="https://www.linkedin.com/in/arifcse21/" class="fab fa-linkedin" target="_blank"></a>
        <a href="https://www.youtube.com/channel/UCXkEQLso96kJi1_iWozHAjQ" class="fab fa-youtube" target="_blank"></a>
    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about" >

    <h1 class="heading"> <span>about</span> me </h1>

    <div class="row">

        <div class="box-container">
            <div class="box">
                <h3>3+</h3>
                <p>months of internship experience</p>
            </div>
            <div class="box">
                <h3>1+</h3>
                <p>satisfied clients</p>
            </div>
            <div class="box">
                <h3>350+</h3>
                <p>working hours</p>
            </div>
            <div class="box">
                <h3>0+</h3>
                <p>awards won</p>
            </div>
        </div>

        <div class="content">
            <h3>Hey <span>visitor!</span></h3>
            <p>It's Md Abdullah Al Arif. Currently working as a <br> DevOps Engineer Intern
                at a startup company <br> Bashonti Kanon Pvt. Ltd. <br>
                Learning SAP BASIS Administration there. <br>
                I have completed my graduation from Bangladesh Army University of
                Science and Technology-BAUST, Saidpur cantonment,
                Nilphamari in CSE Major.</p>
            <!-- <a href="#" class="btn">Interested? Read More</a> -->
        </div>

    </div>

    <div class="row">

        <div class="progress">
            <h3> Django </h3>
            <div class="bar bar-1-1"><span></span></div>
            <h3> RDBMS  </h3>
            <div class="bar bar-1-2"><span></span></div>
            <h3> JavaScript  </h3>
            <div class="bar bar-1-3"><span></span></div>
        </div>

        <div class="progress">
            <h3> SAP BASIS </h3>
            <div class="bar bar-2-1"><span></span></div>
            <h3> Python </h3>
            <div class="bar bar-2-2"><span></span></div>
            <h3> Linux </h3>
            <div class="bar bar-2-3"><span></span></div>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> Latest <span>blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-code"></i>
            <h3>In development stage</h3>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quas delectus, laboriosam nulla dolore in.</p> -->
        </div>

        <div class="box">
            <i class="fas fa-paint-brush"></i>
            <h3>In development stage</h3>
        </div>

        <div class="box">
            <i class="fas fa-mobile"></i>
            <h3>In development stage</h3>
        </div>

        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>In development stage</h3>
        </div>

        <div class="box">
            <i class="fas fa-search-dollar"></i>
            <h3>In development stage</h3>
        </div>

        <div class="box">
            <i class="fab fa-wordpress"></i>
            <h3>In development stage</h3>
        </div>

        <a href="www.google.com" target="_blank">
            <div class="box">
                    <i class="fas fa-plus"></i>
                    <h3>See More Blogs</h3>

                    <!-- <p>More awesome blogs I have written</p> -->
            </div>
        </a>    
        
            </a>
            
        </div>



</section>

<!-- services section ends -->

<!-- portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading">youtube <span>Videos</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="{% static 'Images/img-1.jpg' %}" alt="">
            <div class="content">
                <h3>project 01</h3>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'Images/img-2.jpg' %}" alt="">
            <div class="content">
                <h3>project 02</h3>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'Images/img-3.jpg' %}" alt="">
            <div class="content">
                <h3>project 03</h3>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'Images/img-4.jpg' %}" alt="">
            <div class="content">
                <h3>project 04</h3>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'Images/img-5.jpg' %}" alt="">
            <div class="content">
                <h3>project 05</h3>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'Images/img-6.jpg' %}" alt="">
            <div class="content">
                <h3>project 06</h3>
            </div>
        </div>

    </div>

</section>

<!-- portfolio section ends -->

<!-- contact section starts -->

<!-- <section class="contact" id="contact"> -->

    <!-- <h1 class="heading"> <span>ping</span> me↝ </h1> -->
    <!-- <a href="https://twitter.com/Arifcse21?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" style="width : 400px;height : 400px;">Follow @Arifcse21</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

    <!-- <form method="post" action="">
        {% csrf_token %}
        {{ form.name|attr:"type:text"|attr:"placeholder:Your Full Name"|add_class:"box" }}
        {{ form.email|attr:"type:email"|attr:"placeholder:Your Email"|add_class:"box" }}
        {{ form.subject|attr:"type:text"|attr:"placeholder:Subject"|add_class:"box" }}
        {{ form.message|attr:"placeholder:Your Message"|attr:"cols:30"|attr:"rows:10"|add_class:"box" }}

        <input type="submit" value="Send" class="btn">
    </form> -->

<!-- </section> -->


<!-- contact section ends -->

{% endblock portfolio %}